.header {
  width: 100%;
  color: #fff;
  &__top-part {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    font-size: 2rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
  }
  &__score {
    margin: 0;
    align-self: center;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
  }
  &__level-list {
    display: flex;
    list-style: none;
  }
  &__level-item {
    width: 17%;
    padding: 5px 0;
    background-color: #9b9b9b;
    text-align: center;
    line-height: 1.5;
  }
  &__level-item:first-of-type {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  &__level-item:last-of-type {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}